# # poetry
# fastapi[standard]
# pinecone
# transformers
# sentence-transformers
# python-dotenv
# python-docx
# supabase
# langchain
# streamlit
# --index-url https://download.pytorch.org/whl/cpu
# torch
# # torch==2.1.0
# # torchvision==0.16.0
# # torchaudio==2.1.0
# pypdf
# langchain_community
# langchain_text_splitters
# # langchain-openai
# langchain-groq

# PyTorch CPU-only
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# Core dependencies
fastapi[standard]
pinecone
transformers
sentence-transformers
python-dotenv
python-docx
supabase
langchain
streamlit
pypdf
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
requests
pyyaml
psutil