fastapi[standard]
uvicorn[standard]
torch
pinecone
transformers
sentence-transformers
python-dotenv
pdfplumber
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
python-docx
supabase
langchain
streamlit
pypdf
langchain_community
langchain_text_splitters
langchain-openai
langchain-groq
requests